:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --default-border: rgb(52, 56, 58);
  --default: #eff3f4;
  --default-bg: #242424;
  --accent-color: #747bff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.nav-data {
  color: rgba(255, 255, 255, 0.87);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 400px;
}
@media screen and (max-width: 506px) {
  .nav-data {
    max-width: 131px;
  }
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --default-border: rgba(0, 0, 0, 0.125);
    --default: #202327;
    --default-bg: #ffffff;
    --accent-color: #747bff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.tweetbody {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  margin-right: 10px;
  width: calc(100% - 20px);
  min-height: calc(100% - 20px);
  margin: 10px;
}
.tweetbodytext {
  flex-grow: 3;
  display: flex;
  width: 100%;
  min-height: calc(100% - 50px);
}
.tweetbodytext textarea {
  all: unset;
  min-width: 100%;
  min-height: 100%;
  word-wrap: break-word;
}
.loginnext {
  height: 43px;
  border-radius: 30px;
  background-color: var(--accent-color);
  border: 1px solid var(--default-border);
  vertical-align: middle;
  margin-bottom: 15px;
  margin-top: 45px;
  cursor: pointer;
  font-weight: 600;
  width: 300px;
  /* color: white; */
}
.loginbtn {
  height: 43px;
  border-radius: 30px;
  background-color: var(--accent-color);
  border: 1px solid var(--default-border);
  vertical-align: middle;
  margin-bottom: 15px;
  cursor: pointer;
  font-weight: 600;
  width: 300px;
  margin-top: 30px;
  /* color: white; */
}
.fixedNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
}
.nav {
  display: flex;
  margin: 0 30px 0 30px;
  padding: 1rem 0 1rem 0;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
}
